<html>
<center>
  <div>
  </div>
<div> <span style="color: red; font-size: 3em">

  <p><h2>Congratulations!!! you are winner!!!!</h2></p>
</span>
</div>

<embed src="https://marketplace.canva.com/MACOcPvRWb8/2/0/thumbnail_large/canva-green-and-yellow-wreath-congratulations-card-MACOcPvRWb8.jpg" width="900" height="600"></embed>
<p>
<%= link_to "try again?"%>
</p>
</center>
</html>
