<html>
<head>
  <script type="text/javascript">



 function timer(){
  var form = document.getElementById('form');
  var obj=document.getElementById('timer_inp');
  obj.innerHTML--;
      if (obj.innerHTML==0){
          alert('Time is over');
           form.innerHTML = "time is over";
          setTimeout(function(){},20000);
          } else {
          setTimeout(timer,1000);
      }
  }
  setTimeout(timer,1000);



</script>

</head>
<title>
  <center><h1>Raffle</h1></center>
  </title>
  <body>
  <center>
    <p>Check your luck! You see boxes, each of which contains a number.</p>
    <p> Among them, is hidden the winning figure 5.</p>
    <p>Try to guess what box it is and puts its number.</p>
    <p>The boxes are numbered from 0 and up to <%= ((Figaro.env.count_box_board).to_i)-1 %>, from left to right.</p>
    <p>You can only enter those numbers.</p>
    <p>
    <h2>Good luck!!!</h2></p>

    <div>Look out: <span id="timer_inp">20</span></div>

    <%= render 'table' %>

    <div id = "form">
      <%= render 'form_with_numb' %>
      </div>
          <%= link_to 'try again?' %>

    </center>
      </body>

</html>
